<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
             Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practces/2010/unity">  
    <!--定义类型别名-->   
    <aliases>
      <add alias="ICollectUserComponet" type="OEM.LSM.Write.Contract.Componet.ICollectUserComponet,OEM.LSM.Write.Contract" />
      <add alias="CollectUserComponent" type="OME.LSM.Component.CollectUserComponent,OME.LSM.Component" />
      
      <add alias="IDemoComponet" type="OEM.LSM.Write.Contract.Componet.IDemoComponet,OEM.LSM.Write.Contract" />
      <add alias="DemoComponet" type="OME.LSM.Component.DemoComponet,OME.LSM.Component" />
    </aliases>
    <!--容器-->
    <container name="lsm_Component_container">
      <!--映射关系-->
      <!--<register type="IExampleClass"  mapTo="ExampleClass"></register>-->
      <register type="OEM.LSM.Write.Contract.Componet.ICollectUserComponet,OEM.LSM.Write.Contract"  mapTo="OME.LSM.Component.CollectUserComponent,OME.LSM.Component"></register>
      
      <register type="OEM.LSM.Write.Contract.Componet.IDemoComponet,OEM.LSM.Write.Contract"  mapTo="OME.LSM.Component.DemoComponet,OME.LSM.Component"></register>
    </container>
  </unity>
</configuration>

