<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
             Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
    <!--定义类型别名-->
    <aliases>
      <add alias="ICollectUserAppService" type="OEM.LSM.Write.Contract.Servces.ICollectUserAppService,OEM.LSM.Write.Contract" />
      <add alias="CollectUserAppService" type="OME.LSM.Mode.CollectUserAppService,OME.LSM.Mode" />
    </aliases>
    <!--容器-->
    <container name="Lsm_AppService_container">
      <!--映射关系-->
      <!--<register type="IExampleClass"  mapTo="ExampleClass"></register>-->
      <register type="OEM.LSM.Write.Contract.Servces.ICollectUserAppService,OEM.LSM.Write.Contract"  mapTo="OME.LSM.Mode.CollectUserAppService,OME.LSM.Mode"></register>
  
    </container>
  </unity>
</configuration>

